<div class="jumbotron">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

        </div>    
    </div>    
</div>
<div class="container">
    <%= simple_form_for @wiki do |f| %>
        <%= f.input :title %>
        <%= f.input :body %>
        <% if current_user && current_user.premium? %>
            Private? <%= f.input :private %>
        <% end %>
        <%= f.submit "Submit" %>
    <% end %>
</div>